/* Common Styles   */
.container {
    overflow-x: hidden;
}

/* Header Section   */
.header-section{
    margin-top: 37px;
}

.header-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #31A5AC;
}

.header-img{
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

.header-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #390a75;
}

/* Main Section   */


.left-section > img{
    border-radius: 5px;
}

.right-section{
    padding: 50px 20px;
    background-color: #F8F8F8;
}

.income-title, .expenses-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.input-income-title, .input-food-title, .input-rent-title,.input-clothes-title{  
    width: 90px;
}

input[type=text]{
    background-color: #DCDCDC;
    border: transparent;
}

.input-income-title > p, .input-food-title > p, .input-rent-title > p, .input-clothes-title > p, .calc-btn, .total-expense, .balance, .save-title, .percent, .save-btn, .saving-amount, .remaining-balance{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}