/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.container {
    overflow-x: hidden;
}

.header-section{
    margin-top: 37px;
}

.header-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #31A5AC;
}

.header-img{
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

.header-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #390a75;
}


.left-section > img{
    border-radius: 5px;
}

.right-section{
    /* border: 5px solid green; */
    /* width: 450px; */
    padding: 20px;
    background-color: #F8F8F8;
}

.input-income-title, .input-food-title, .input-rent-title,.input-clothes-title{  
    /* border: 2px solid black; */
    width: 130px;
}

.input-income-title > p, .input-food-title > p, .input-rent-title > p, .input-clothes-title > p, .calc-btn, .total-expense, .balance, .save-title, .percent, .save-btn, .saving-amount, .remaining-balance{
      font-family: 'Roboto', sans-serif;
    font-weight: 700;
}




/* @media screen and (max-width: 1000px) {
    .section-left img{
        height : auto;
    }
}  */